html, body {
    margin: 0px;    
    font-family: 'Roboto', sans-serif;
    flex-direction: column;
    display: flex;
}

.header {
    background-color: #1f2937;
    display: flex;
    flex: 1;
    padding-left: 300px;
    color: white;
}

.header .header-logo {
    margin-bottom: 100px;
    margin-right: 400px;
    font-size: 24px;
}

.header .header-link {
    margin: 10px;
    font-size: 18px;
}

.section1 {
    background-color: #1f2937;
    color: white;
}

.section2 {

}

.section3 {
    background-color: #e5e7eb;
}

.section4 {
    
}

.footer {
    background-color: #1f2937;
    color: white;
}